<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827474499309-t9h1th6apv0sji329oqu12scrqo7nrp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827474499309-t9h1th6apv0sji329oqu12scrqo7nrp1</string>
	<key>API_KEY</key>
	<string>AIzaSyC1laczuM3sKGmZiOR_5En7Jl0oagwKbN8</string>
	<key>GCM_SENDER_ID</key>
	<string>827474499309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buzzingBoothBlog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>buzz-with-aggie</string>
	<key>STORAGE_BUCKET</key>
	<string>buzz-with-aggie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827474499309:ios:5f0b820435329db2c09ee4</string>
	<key>DATABASE_URL</key>
	<string>https://buzz-with-aggie-default-rtdb.firebaseio.com</string>
</dict>
</plist>